############
# Аннотации
############

services:
  # конфигурация по умолчанию в *этом* файле
  _defaults:
    autowire: true
    autoconfigure: true
    public: true


  Doctrine\Common\Annotations\AnnotationReader: '@annotations.reader'
  annotation_reader: '@Doctrine\Common\Annotations\AnnotationReader'

  annotations.dummy_registry:
    class: Doctrine\Common\Annotations\AnnotationRegistry
    calls:
      - registerUniqueLoader: ['class_exists']

  annotations.reader:
    class: Doctrine\Common\Annotations\AnnotationReader
    calls:
      - addGlobalIgnoredName: ['required', '@annotations.dummy_registry']

  # Поисковик классов в директориях.
  class.collector:
    class: Local\SymfonyTools\Router\Annotations\SearchAnnotatedClasses
    arguments: ['%kernel.project_dir%', '%controller.annotations.path%']
