###########
# Роутинг
###########

services:
  # конфигурация по умолчанию в *этом* файле
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  #####################
  # Роутер.
  #####################

  Symfony\Component\HttpKernel\Controller\ControllerResolver:
    class: Symfony\Component\HttpKernel\Controller\ControllerResolver

  # Загрузчик роутов из Yaml конфига.
  routes.config:
    class: Local\SymfonyTools\Router\RouterConfig
    arguments: ['%kernel.project_dir%', '/local/configs/routes.yaml', '@load.annotated.routes']

  # Коллекция загруженных роутов.
  routes.collection:
    class: Symfony\Component\Routing\RouteCollection
    factory: ['@routes.config', 'routes']

  router.default: '@routes.collection'

  Local\SymfonyTools\Router\RouterConfig: '@routes.config'

  # Symfony загрузчик аннотированных роутов.
  symfony.loader.annotated.routes:
    class: Symfony\Bundle\FrameworkBundle\Routing\AnnotatedRouteControllerLoader
    arguments: ['@Local\SymfonyTools\Router\Annotations\ForkAnnotationReader']

  # Конечный сервис чтения и загрузки анотированных роутов.
  load.annotated.routes:
    class: Local\SymfonyTools\Router\Annotations\LoadAnnotatedRoutes
    arguments: ['@class.collector', '@symfony.loader.annotated.routes']

  # Стандартный контроллер ошибок.
  standart.error.controller:
    class: Local\SymfonyTools\Framework\Controllers\ErrorController
    arguments: ['@serialize']

  # Json контроллер ошибок.
  json.error.controller:
    class: Local\SymfonyTools\Framework\Controllers\ErrorJsonController
    arguments: ['@serialize']

  Local\SymfonyTools\Framework\Controllers\ErrorJsonController: '@json.error.controller'

  # Диспетчер запуска контроллеров.

  # Инициализатор роутов.
  init.router:
    class: Local\SymfonyTools\Router\InitRouter
    arguments:
      - '@routes.collection'
      - '@json.error.controller'
      - '@event_dispatcher'
      - '@controller_resolver'
      - '@argument_resolver'
      - '@request_stack'
    # Подвязка на битриксовое событие.
    tags:
      - { name: bitrix.events.init, module: main, event: OnProlog, method: handle, sort: 1 }

  # Проверка роутов.
  route.checker:
    class: Local\ServiceProvider\Utils\RouteChecker
    arguments: ['@routes.collection']


  # Диспетчер запуска контроллеров.
  dispatcher.controller:
    class: Local\SymfonyTools\Framework\DispatchController
    arguments:
      - '@event_dispatcher'
      - '@controller_resolver'
      - '@argument_resolver'
      - '@json.error.controller'

  Local\SymfonyTools\Framework\DispatchController: '@dispatcher.controller'

  # Диспетчер запуска роутов.
  dispatcher.route:
    class: Local\SymfonyTools\Framework\Utils\DispatchRoute
    arguments:
      - '@event_dispatcher'
      - '@json.error.controller'
      - '@Symfony\Component\HttpKernel\Controller\ControllerResolver'
      - '@argument_resolver'
      - '@serializer'

  Local\SymfonyTools\Framework\Utils\DispatchRoute: '@dispatcher.route'

  Local\SymfonyTools\Framework\Utils\ControllerProcessor:
    class: Local\SymfonyTools\Framework\Utils\ControllerProcessor
    arguments:
      - '@service_container'
      - '@Local\SymfonyTools\Framework\Utils\ResolverDependency\ResolveDependencyMakerContainerAware'
      - '@Local\SymfonyTools\ArgumentsResolvers\Supply\ResolveParamsFromContainer'
      - '@Local\ServiceProvider\Utils\IgnoredAutowiringControllerParamsBag'

  # Игнорируемые при автовайринге классы (учитывя наследование).
  ignored.autowiring.controller.arguments:
    class: Local\ServiceProvider\Utils\IgnoredAutowiringControllerParamsBag
    calls:
      - add: [['Local\Bundles\ApiDtoConvertorBundle\DependencyInjection\BaseDTOInterface']]

  Local\ServiceProvider\Utils\IgnoredAutowiringControllerParamsBag: '@ignored.autowiring.controller.arguments'
